<div class="row">
  <div class="cell col-sm-3 col-md-2">
    <div class="panel-manage clearfix">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" (click)="openModalNewMail(newMailTemplate)">
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
          New Mail
        </button>
      </div>
    </div>
  </div>

  <div class="managebar col-sm-9 col-md-10">
    <div class="panel-manage">

      <div class="btn-group" dropdown>
        <button type="button" class="btn btn-default" (click)="toggleAll()">
          <span
            class="glyphicon"
            [class.glyphicon-check]="allIsChecked()"
            [class.glyphicon-unchecked]="!allIsChecked()"
            aria-hidden="true"
          ></span>
        </button>
        <button type="button" class="btn btn-default dropdown-toggle" dropdownToggle>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" *dropdownMenu>
          <li><a (click)="selectAll()">All</a></li>
          <li><a (click)="unselectAll()">None</a></li>
          <li><a (click)="markAsReadGroup(checkedMails)">Read</a></li>
          <li><a (click)="markAsUnreadGroup(checkedMails)">Unread</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button
          type="button"
          class="btn btn-default"
          [tooltip]="selectedFolder === 'Spam' ? 'Move&nbsp;to&nbsp;Inbox' : 'Move&nbsp;to&nbsp;Spam'"
          (click)="toggleSpam()"
        >
          <span
            class="glyphicon"
            [class.glyphicon-alert]="selectedFolder !== 'Spam'"
            [class.glyphicon-envelope]="selectedFolder === 'Spam'"
            aria-hidden="true"
          ></span>
        </button>
        <button
          type="button"
          class="btn btn-default"
          [tooltip]="selectedFolder === 'Trash' ? 'Move&nbsp;to&nbsp;Inbox' : 'Move&nbsp;to&nbsp;Trash'"
          (click)="moveToTrash()"
        >
          <span
            class="glyphicon"
            [class.glyphicon-trash]="selectedFolder !== 'Trash'"
            [class.glyphicon-envelope]="selectedFolder === 'Trash'"
            aria-hidden="true"
          ></span>
        </button>
      </div>

      <div class="btn-group" dropdown>
        <button type="button" class="btn btn-default dropdown-toggle" dropdownToggle>
          <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
          &nbsp;
          <span class="caret"></span>
        </button>

        <ul class="dropdown-menu" *dropdownMenu>
          <li class="dropdown-header">Move to:</li>
          <li role="separator" class="divider"></li>
          <li><a (click)="moveToInbox()">Inbox</a></li>
          <li role="separator" class="divider"></li>
          <li><a (click)="moveToTrash()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Trash</a></li>
          <li><a (click)="moveToSpam()"><span class="glyphicon glyphicon-alert" aria-hidden="true"></span> Spam</a></li>
        </ul>
      </div>

      <div class="form-inline">
        <div class="form-group form-inline">
          <input type="search" class="form-control" placeholder="Search" [(ngModel)]="term">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="sidebar col-sm-3 col-md-2 col-lg-2">
    <app-folders-list
      [folders]="folders"
      [selectedFolder]="selectedFolder"
      (onSelectFolder)="selectFolder($event)"
    ></app-folders-list>
  </div>

  <div class="mailbar col-sm-3 col-sm-offset-3 col-md-3 col-md-offset-2 col-lg-2 col-lg-offset-2">
    <app-mails-list
      [mails]="mails"
      [term]="term"
      [selectedMail]="selectedMail"
      [checkedMails]="checkedMails"
      (onSelectMail)="selectMail($event)"
      (onCheckMail)="checkMail($event)"
    ></app-mails-list>
  </div>

  <div class="main col-sm-6 col-sm-offset-6 col-md-7 col-md-offset-5 col-lg-8 col-lg-offset-4">
    <div *ngIf="selectedMail">
      <div class="clearfix">
        <div class="pull-right">{{ selectedMail.createdAt | date }} ({{ selectedMail.createdAt | date:'medium' | elapsed }})</div>
        From: {{ selectedMail.from }}<br>To: {{ selectedMail.to }}
      </div>
      <h3>{{ selectedMail.subject }}</h3>
      <hr>
      {{ selectedMail.content }}
    </div>
  </div>

</div>

<ng-template #newMailTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">New Email</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="mailForm" (ngSubmit)="sendMail()">
      <div
        class="form-group"
        [class.has-success]="mailForm.controls.to.dirty && mailForm.controls.to.valid"
        [class.has-feedback]="mailForm.controls.to.dirty"
        [class.has-error]="mailForm.controls.to.dirty && mailForm.controls.to.invalid"
      >
        <input
          type="text"
          class="form-control"
          placeholder="To"
          formControlName="to"
          [typeahead]="dataUsers"
          typeaheadOptionsLimit="7"
          typeaheadMinLength="0"
          (typeaheadLoading)="changeTypeaheadLoading($event)"
          (typeaheadNoResults)="changeTypeaheadNoResults($event)"
          (typeaheadOnSelect)="typeaheadOnSelect($event)"
        >

        <span *ngIf="mailForm.controls.to.dirty && mailForm.controls.to.valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
        <span *ngIf="mailForm.controls.to.dirty && mailForm.controls.to.invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
      </div>
      <div *ngIf="typeaheadLoading===true">
        <i class="glyphicon glyphicon-refresh ng-hide" style=""></i>
      </div>
      <div *ngIf="typeaheadNoResults===true" class="" style="">
        <i class="glyphicon glyphicon-remove"></i> No Results Found
      </div>
      <div
        class="form-group"
        [class.has-success]="mailForm.controls.subject.dirty && mailForm.controls.subject.valid"
        [class.has-feedback]="mailForm.controls.subject.dirty"
        [class.has-error]="mailForm.controls.subject.dirty && mailForm.controls.subject.invalid"
      >
        <input type="text" class="form-control" placeholder="Subject" formControlName="subject">

        <span *ngIf="mailForm.controls.subject.dirty && mailForm.controls.subject.valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
        <span *ngIf="mailForm.controls.subject.dirty && mailForm.controls.subject.invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
      </div>
      <div
        class="form-group"
        [class.has-success]="mailForm.controls.content.dirty && mailForm.controls.content.valid"
        [class.has-feedback]="mailForm.controls.content.dirty"
        [class.has-error]="mailForm.controls.content.dirty && mailForm.controls.content.invalid"
      >
        <textarea class="form-control" rows="5" placeholder="Message" formControlName="content"></textarea>

        <span *ngIf="mailForm.controls.content.dirty && mailForm.controls.content.valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
        <span *ngIf="mailForm.controls.content.dirty && mailForm.controls.content.invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</ng-template>